.signSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 90px;
    /*background-color: blue;*/
}

.banner { /* will conflict with 'banner' from Register.css*/
    background-color: #C2AFF0;
    color: #11151C;
    border: 0px solid #C2AFF0;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xxx-large;
    color: whitesmoke;
    margin-top: 0px;
}

button {
    width: 280px;
    height: 30px;
    margin-top: 5px;
    background-color: #C2AFF0;
    color: #11151C;
    border: 0px solid #C2AFF0;
    border-radius: 100px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #B8B8AA;
    color: #fff;
}