.loginInputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(185, 185, 40);
    position: absolute;
    bottom: 180px;
}

input {
    width: 300px;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
    margin: 5px;
    background-color: pink;
    font-family: 'Times New Roman', Times, serif;
}

.loginButton input:hover {
    cursor: pointer;
}