.registerInputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* background-color: beige; */
    position: absolute;
    bottom: 90px;
    width: 100%;
}

input {
    width: 300px;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
    margin: 5px;
    /* background-color: rgb(224, 221, 221); */
}

p {
    color: red;
    margin: 3px;
}