body {
  background-color: #f7f6f6;
  font-family: "Montserrat", sans-serif;
  color: #11151c;
}

.historyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  flex-direction: column;
}

h1 {
  margin-top: -30px;
  font-size: px;
  font-weight: 370;
  text-align: center;
  color: black;
}

.table-wrapper {
  overflow-x: auto;
  width: fit-content;
  /* max-width: 100%; */
  border-radius: 20px;
  border: none;
  margin-top: 12px;
  max-height: 77%;
  overflow-y: scroll;
  box-shadow: 8px 8px 4px 1px #c2aff0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: white;
  width: 100%;
}

th {
  position: sticky;
  top: 0;
  background-color: #cfc3ed;
  font-weight: 400;
}

th,
td {
  margin: 0;
  padding: 0.6rem;
}

thead th {
  border-right: 0.2px solid rgb(164, 162, 162);
}

tbody td {
  border-right: 0.2px solid rgb(164, 162, 162);
}

tbody td:last-child {
  border-right: none;
}

thead th:last-child {
  border-right: none;
}

tbody tr {
  border-bottom: 0.25px solid rgb(164, 162, 162);
}

tbody tr:last-child {
  border-bottom: none;
}

tbody tr:nth-of-type(even) {
  background-color: #f2f2f2;
}

tbody td {
  font-weight: 250;
}

::-webkit-scrollbar {
  width: 0;
}